@media (max-width: 1200px){
   .section_tab_product{
      margin-top: 30px;
  }
   .img_intro_list{
      margin-left: -150px;
      margin-top: 40px;
      }
   .home .title-header h1{
      font-size: 120px;
   }
   .home .title-header h2{
      font-size: 80px;
   }
   .group-accout li {
      float: left;
      margin-right: 7px;
   }
   .product-quantity {
      margin-left: 2rem;
    }
    
    .remove-btn {
      margin-left: 3rem;
    }
}
@media (max-width: 991.98px){
   .section_tab_product{
      margin-top: 0px;
  }
   .add-to-cart {
      right: 0;
      top: 73%;
    }
   .cart-modal {
      width: 100vw;
    } 
.section_intro .col-intro-1 {
    order: 1;
    text-align: center;
}
.section_intro  .img_intro_list{
    display: none;
 }
 .top_header{
   display: none;
 }
 .search_header {
   order: 2;
   margin-bottom: 50px;
 }
 .logo_header{
   display: none;
 }
 .header_right{
    display: flex;
    width: 100% !important;
    order: 1;
 }
 .group-accout li.phone-head{
  display: none;
}
 .site-nav {
  display: none;
}
.nav__bar-btn{
   display: block;
 }
 .logo_hidden{
     display: block;
 }
.header img{
   max-width: 80%;
}
.nav__bar-btn img{
   max-width: 70%;
}

.group-accout .icon_ {
   height: 45px;
   width: 45px;
   line-height: 45px;
   font-size: 18px;
   padding-top: 0px;
}
.cart-quantity {
   position: absolute;
   top: 5px;
   right: 7px;
   padding: 0px 3px;
   border-radius: 50%;
   line-height: 16px;
   font-size: 13px;
}
.search_header input {
   height: 45px;
   min-height: 45px;
   line-height: 45px;
   padding: 0 25px 0 20px;
   border-radius: 24px !important;
   font-size: 14px;
}
.search_logo {
   position: absolute;
   right: 14px;
   height: 43px;
   width: 43px;
   top: 1px;
   line-height: 40px;
   font-size: 17px;
}
.group-accout{
  float: right;
}
.menu-scroll-down2{
   position: fixed;
   width: 100%;
   height: 155px;
   top:0px;
   z-index: 9999;
   color: #636363;
   background-color: #fff;
   overflow-y: hidden;
   padding: 10px 0 0 0 !important;
}
.section_category {
   margin-top: 25px;
}
.section_category .cate-item {
   width: 80px;
   height: 80px;
}
.section_category .cate-item .image:before {
   content: none;
}
.section_category .cate-item:hover .hiden {
   display: none;
}
.section_tab_product .nav-tab li {
   display: inline-block;
   margin-right: 25px;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 0px;
   padding-bottom: 10px;
   border-radius: 0;
}
}
@media (max-width: 767.98px){
   .home .title-header h2{
      font-size: 55px;
   }
   .add-to-cart {
      right: 0;
      top: 66%;
    }
   .nav-tab1 {
      display: none;
    }
    .nav__bar-btn1{
       display: block;
     }
     .bg_module:before {
     display: none;
  }
  .bg_module:after {
   display: none;
  }
  .nav-tab{
   display: none;
  }
  .section_3banner {
   display: none;
}
}
@media (max-width: 575.98px){
   .section_tab_product .col-xs-6{
      width: 80%;
      margin: 0 auto;
}
.home .title-header h2{
   font-size: 55px;
}
.home .title-header h1{
   font-size: 105px;
}
}
@media(max-width: 479.98px){
   .home .title-header h2{
     display: none;
   }
   .home .title-header h1{
      font-size: 75px;
   }
   .logo_hidden{
      display: none;
   }
   .header_right{
      display: flex;
      justify-content: space-between;
   }
   .group-accoutfirst{
      width: 50% !important;
   }
}
@media (max-width: 320px){
   .home .title-header h1{
      font-size: 55px;
   }
}
